@import 'variables';

.feed {
  flex: 0.5;
  border-right: 1px solid $twitter-background;
  width: fit-content;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  &__header {
    position: sticky;
    top: 0;
    background-color: $white;
    border: 1px solid $twitter-background !important;
    padding: 7px;

    h2 {
      font-size: 23px;
      padding-top: 5px;
    }
  }
}
