* {
  outline: none;
  box-sizing: border-box;
}

html,
body,
ul,
ol {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}
a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

figure {
  margin: 0;
}
