@import 'variables';

.sideBarList {
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: $background-hover;
    border-radius: 30px;
    color: $twitter-color;
    transition: $twitter-color 100ms ease-out;
  }

  svg {
    margin: 10px;
    font-size: 24px;
    height: 32px;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
  }
}

.sidebarListActive {
  color: $twitter-color;
  h2 {
    font-weight: 700;
  }
}

.sideBarBtn {
  background-color: $twitter-color;
  color: $color-white;
  font-weight: 900;
  text-transform: inherit;
  border-radius: 30px;
  height: 50px;
  width: 170px;
  margin-top: 20px;
}
