@import 'variables';

.sideBarList {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__Active {
    color: black;
    h2 {
      font-weight: 700 !important;
    }
  }

  &:hover {
    background-color: $background-post !important;
    border-radius: 30px;
    color: black;
    transition: $background-post 100ms ease-out;
  }

  svg {
    margin: 10px;
    font-size: 24px;
    height: 32px;
  }

  h2 {
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
  }
  a {
    color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    &:active {
      color: #000;
    }
  }
}

