@import 'variables';
@import 'mixins';

.widgest {
  flex: 0.3;

  &__input {
    @include flex(flex, center);
    @include radius(20px);
    background-color: $background-post;
    padding: 10px;
    margin: 10px 20px 20px 0;
    svg {
      color: $text-color;
    }
    input {
      border: none;
      background-color: transparent;
      margin-left: 5px;
      font-size: 17px;
    }
  }
  &__container {
    margin: 20px;

    background-color: $background-post;
    border: 1px solid $background-post;
    @include radius(20px);
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    cursor: pointer;

    svg {
      color: $text-color;
    }

    &:hover {
      @include hover();
    }
  }
  &__trend {
    margin-top: 10px;

    span {
      color: $text-color;
      font-size: 14px;
      margin-bottom: 10px;
    }
    h4 {
      margin: 3px 0;
      @include font(15px, 700);
      color: $widgest-color;
    }
  }
  &__title {
    @include flex(flex, center);
    justify-content: space-between;
    margin: 13px 0;

    h2 {
      @include font(20px, 800);
      padding-left: 20px;
    }
    svg {
      margin-right: 23px;
    }
  }
  &__show {
    @include font(17px, 400);
    text-align: left;
    color: $twitter-color;
    padding: 10px 0 10px 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    cursor: pointer;
  }
}
